<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{{#datas}}
<li>

	<div class="pro_icon float-l">
				<img   onerror="this.src='../resource/images/{{default}}.png'" src={{img}}>
				
			</div>
			<div class="pro_all float-l">

			<div class="pro_info ">
					<div class="level-icon float-l"></div>
					<div class="name font18 font-w-b float-l">{{doctorName}}</div>
					<div class="level float-l font14">{{doctorTitle}}</div>



			</div>
			<div class="clinic ">
					[科室] {{deptName}}
			</div>
			</div>

</li>
{{/datas}}